---
import RootLayout from "./RootLayout.astro";
import WarpBackground from "../components/warp-background";

// Static values for a static page
const title = "Hugo's Games";
const description = "A collection of games created by Hugo (mostly during COVID).";
---

<RootLayout title={title} description={description}>
    <div class="flex relative gap-4 w-full max-w-screen-xl">
        <nav class="relative w-2 md:min-w-xs xl:min-w-xs sm:min-h-screen sm:ml-4 sm:pb-4">
    		<div class="w-full h-full max-sm:w-2 md:max-w-xs xl:max-w-xs fixed -z-10 sm:bottom-4 sm:rounded-b-full overflow-hidden">
                <WarpBackground
                    color1="#d98b2b"
                    color2="#704214"
                    color3="#000000"
                    speed={0.05}
                    swirl={1.8}
                    swirlIterations={1}
                    shapeScale={0.3}
                    client:load
                />
            </div>
        </nav>

        <main class="relative"  >
            <slot />
        </main>
    </div>
</RootLayout>
